html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.grid-container{
    display: grid;
    text-align: center; 
    margin-top: 15px;
    margin-bottom: 20px;
}

body{
   text-align: center;
   margin: 0px;
   background-color:#f5f5f2;
}

.margin1{
  grid-column:1/6;  
  grid-row: 1/50;   
}

/*------leftside-----*/
.leftside{
  grid-column:6/15;
  grid-row: 1/50;
  box-shadow: 0px 0px 5px #858582;
  background-color: white;
  margin-right: 15px;
  border-radius: 5px;
}

.avatar{
  background-image: url(avatar.png);
  background-size:cover;
  padding-bottom: 80%;
  border-radius: 5px 5px 0px 0px;
  
}

.name{
    position:static;
    float: left;
    margin-left: 10px;
    margin-top:15px;
    font-weight: bold;
}

.icon1{
    font-size: 1em;
    color: darkblue;
    position:static;
    float: left;
    margin-left: 10px  
}

.icon2{
    font-size: 1em;
    color: darkblue;
    position:static;
    float: left;
    margin-left:8px
}

.icon3{
    font-size: 1em;
    color: darkblue;
    position:static;
    float: left;
    margin-left: 10px
}

.icon4{
  font-size: 1em;
    color: darkblue;
    position:static;
    float: left;
  margin-left: 15px; 
}


.ic-f{
    color: gray;
    font-size: 13px;
    position: relative;
    top: -20px;
    left: 40px;
    text-align: left;
}

.border-b{
  border-bottom: 1px solid lightgray;
  position: static;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.sk-t{
  position:static;
  float: left;
  margin-left: 40px;
  margin-top:-20px;
  font-weight: bold;  
  color: gray;
}

.icon5{
  font-size: 1em;
  color: darkblue;
  position:static;
  float: left;
  margin-left:12px; 
  margin-top:-19px;
}

.prog-text{
  color: gray;
  font-size: 13px;
  position: relative;
  top: -3px;
  left: 10px;
  text-align: left;
}

.prog-text1{
  color: gray;
  font-size: 13px;
  position: relative;
  top: 176px;
  left: 10px;
  text-align: left;
}

.prog{
  float: left;
  margin-left:10px; 
  margin-top:20px; 
  width: 0px;
}

.prog2{
  float: left;
  margin-left:0px; 
  margin-top:75px; 
  width: 0px;
  
}

.prog3{
  float: left;
  margin-left:0px; 
  margin-top:125px; 
  width: 0px;
}

.prog3{
  float: left;
  margin-left:0px; 
  margin-top:125px; 
  width: 0px;
}

.prog4{
  float: left;
  margin-left:0px; 
  margin-top:180px; 
  width: 0px;
}

.prog5{
  float: left;
  margin-left:0px; 
  margin-top:225px; 
  width: 0px;
}

.sk-t2{
  position:static;
  float: left;
  margin-left: 10px;
  margin-top:310px;
  font-weight: bold;  
  color: gray;
}

.icon6{
    font-size: 1em;
    color: darkblue;
    position:static;
    float: left;
    margin-left: 0px;
    margin-top: 310px;
}

.prog6{
  float: left;
  margin-left:-109px; 
  margin-top:350px; 
  width: 0px;
}

.prog7{
  float: left;
  margin-left:-109px; 
  margin-top:400px; 
  width: 0px;
}


/*------containet1------*/
.content1{
  grid-column:15/40;
  grid-row: 1/17;
  box-shadow: 0px 0px 5px #858582;
  background-color: white;
  margin-bottom: 15px; 
  border-radius: 5px;
}

.icon7{
  font-size: 70px;
  color: darkblue;
  position:static;
  float: left;
  margin-left:20px; 
  margin-top:20px;  
}

.edu{
  font-size: 30px;
  position:static;
  float: left;
  margin-left: 10px;
  margin-top:20px;
  font-weight: bold;  
  color:dimgray; 
}

.edu1{
  position:static;
  float: left;
  margin-left: -180px;
  margin-top:75px;
  font-weight: bold;  
  color: gray;  position:static;
}

.icon8{
  font-size: 1em;
  color: darkblue;
  position:static;
  float: left;
  margin-left:-350px; 
  margin-top:90px;    
}

.date1{
  color:darkblue;
  font-size: 13px;
  position: static;
  margin-left:-310px; 
  margin-top:90px;
  float: left;
   
}

.degree1{
  color: black;
  font-size: 13px;
  position: static;
  margin-left:-350px; 
  margin-top:100px;
  float: left; 
}

.border-b1{
  border-bottom: 1px solid lightgray;
  position: static;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 120px;  
}

.edu2{
  position:static;
  float: left;
  margin-left: 25px;
  margin-top:-20px;
  font-weight: bold;  
  color: gray;  
}

.icon9{
  font-size: 1em;
  color: darkblue;
  position:static;
  float: left;
  margin-left:25px; 
  margin-top:10px;  
}

.date2{
  color: darkblue;
  font-size: 13px;
  position: static;
  margin-left:25px; 
  margin-top:12px;
  float: left;
}

.degree2{
  color:black;
  font-size: 13px;
  position: static;
  margin-left:-110px; 
  margin-top:40px;
  float: left; 
}

/*------containet2------*/
.content2{
  grid-column: 15/40;
  grid-row: 17/50;  
  box-shadow: 0px 0px 5px #858582;
  background-color: white;  
  border-radius: 5px;
}
  
.margin2{
  grid-column:40/45;  
  grid-row: 1/50;   
    
}

.footer{
  grid-column: 1/50;
  border: 1px solid black;
  margin: 0px;
  background-color: darkblue;
  color: white;
}


/*------responsive------*/
@media only screen and (max-width: 600px) {
    
    .margin1{
       grid-column:1/7;  
       grid-row: 1/50;   
   }
    
    .leftside{
        grid-column:7/40;
        grid-row: 1/12;
        margin-bottom: 15px;
        overflow: hidden;
        margin-right:15px;
        margin-left: 15px;
    }
    
    .sk-t{
        font-weight: bold;
    }
    
    .content1{
        grid-column: 7/40;
        grid-row: 12/50;
        margin-right:15px;
        overflow: hidden;
        padding-bottom: 15px;
        margin-left: 15px;
    }
    
     .content2{
        grid-column:7/40;
        grid-row: 50/100;
        margin-right:15px;
        margin-left: 15px;
    }
    
     .margin2{
       grid-column:40/47;  
       grid-row: 1/50;   
    
    }
    
    .footer{
        grid-column: 10/52;
        grid-row: 100/130;
        overflow: hidden
    }
    
    .icon{
        position: relative;
        right: 210px;
        
    }
    
    #name{
        position: relative;
        right: 160px;
    }
    
    .grid-container{
       
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
    
    .leftside{
        grid-column:6/15;
        grid-row: 1/50;
        padding-right: 50px;
    
   }
    
    .content1{
        grid-column:15/40;
        grid-row: 1/22;
    }
    
    .content2{
       grid-column: 15/40;
       grid-row: 22/50;
    }
    
     .avatar{
       position: relative;
       left: 23px;
    }
    
}
